# Statistiques descriptives

# Modules utiles

In [2]:
import pandas as pd

## Données méteo

**Données des températures départementales du 1er janvier 2018 au 31 octobre 2022 :**

In [15]:
meteo_dep_df=pd.read_csv("Données/temperature-quotidienne-departementale.csv",sep=";")
meteo_dep_df

,date_obs,code_insee_departement,departement,tmin,tmax,tmoy
0,2019-10-22,23,Creuse,2.60,12.40,7.50
1,2019-10-22,68,Haut-Rhin,10.80,14.10,12.45
2,2019-10-22,78,Yvelines,4.43,12.93,8.68
3,2019-10-22,39,Jura,11.70,16.90,14.30
4,2019-10-22,50,Manche,8.80,14.35,11.58
...,...,...,...,...,...,...
169435,2022-10-31,69,Rhône,12.60,22.60,17.60
169436,2022-10-31,46,Lot,13.70,24.00,18.85
169437,2022-10-31,54,Meurthe-et-Moselle,9.30,19.95,14.62
169438,2022-10-31,43,Haute-Loire,10.30,18.80,14.55
169439,2022-10-31,60,Oise,8.74,19.31,14.02

**Données des températures régionales du 1er janvier 2018 au 31 octobre 2022 :**

In [17]:
meteo_reg_df=pd.read_csv("Données/temperature-quotidienne-regionale.csv",";")
meteo_reg_df

c:\Users\elelo\AppData\Local\Programs\Python\Python310\lib\site-packages\IPython\core\interactiveshell.py:3444: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only
  exec(code_obj, self.user_global_ns, self.user_ns)

,id,date,code_insee_region,region,tmin,tmax,tmoy
0,2018-01-01T00:00:00-11,2018-01-01,11,Île-de-France,5.96,9.28,7.62
1,2018-01-01T00:00:00-28,2018-01-01,28,Normandie,5.00,8.98,6.99
2,2018-01-01T00:00:00-24,2018-01-01,24,Centre-Val de Loire,5.25,9.68,7.47
3,2018-01-02T00:00:00-11,2018-01-02,11,Île-de-France,5.32,13.60,9.46
4,2018-01-02T00:00:00-84,2018-01-02,84,Auvergne-Rhône-Alpes,3.02,11.56,7.29
...,...,...,...,...,...,...,...
32404,2022-10-30T00:00:00-93,2022-10-30,93,Provence-Alpes-Côte d'Azur,11.82,23.62,17.72
32405,2022-10-30T00:00:00-32,2022-10-30,32,Hauts-de-France,11.66,16.96,14.31
32406,2022-10-30T00:00:00-76,2022-10-30,76,Occitanie,12.33,23.24,17.78
32407,2022-10-31T00:00:00-24,2022-10-31,24,Centre-Val de Loire,11.05,21.63,16.34
32408,2022-10-31T00:00:00-84,2022-10-31,84,Auvergne-Rhône-Alpes,11.73,22.35,17.04

## Données socio économiques

**Taux de chômage par région :**

In [33]:
chomage_df=pd.read_excel("Données/taux_chomage_15_64.xlsx")
chomage_df=chomage_df.drop(index=[0,1,2])
chomage_df=chomage_df.rename(columns=chomage_df.iloc[0])
chomage_df=chomage_df.drop(chomage_df.index[0])
chomage_df

    codgeo      libgeo    an sexe tx_chom1564
4       01  Guadeloupe  2007    F        31.9
5       01  Guadeloupe  2007    H        25.9
6       01  Guadeloupe  2007    T          29
7       01  Guadeloupe  2008    F        32.1
8       01  Guadeloupe  2008    H        25.6
..     ...         ...   ...  ...         ...
323     94       Corse  2017    H        10.3
324     94       Corse  2017    T        12.5
325     94       Corse  2018    F        14.3
326     94       Corse  2018    H         9.9
327     94       Corse  2018    T          12

[324 rows x 5 columns]

On supprime les régions d'outre-mer:

In [36]:
chomage_df.drop( chomage_df[ (chomage_df['codgeo'] == "01") | (chomage_df['codgeo'] == "02") | (chomage_df['codgeo'] == "03") | (chomage_df['codgeo'] == "04") | (chomage_df['codgeo'] == "06")].index, inplace=True)
chomage_df

    codgeo         libgeo    an sexe tx_chom1564
94      11  Île-de-France  2007    F        11.2
95      11  Île-de-France  2007    H        10.4
96      11  Île-de-France  2007    T        10.8
97      11  Île-de-France  2008    F        11.1
98      11  Île-de-France  2008    H        10.4
..     ...            ...   ...  ...         ...
323     94          Corse  2017    H        10.3
324     94          Corse  2017    T        12.5
325     94          Corse  2018    F        14.3
326     94          Corse  2018    H         9.9
327     94          Corse  2018    T          12

[234 rows x 5 columns]

**Population régionale :**

In [68]:
pop_total_df=pd.read_excel("Données/pop_reg_2022.xlsx",header=4)
#pop_total_df=pop_total_df[["Unnamed: 0","0 à 19 ans"]]
pop_total_df=pop_total_df.iloc[:,[0,1,2,3,4,5,6]]
pop_total_df.rename({'Unnamed: 0':"Region"},inplace=True) #marche pas
#pop_total_df.drop(pop_total_df.iloc[14:22,:],inplace=True)
pop_total_df

#il faut rajouter le codgeo de chaque région dans une autre colonne

KeyError: "['Unnamed: 0' '0 à 19 ans' '20 à 39 ans' '40 à 59 ans' '60 à 74 ans'\n '75 ans et plus' 'Total'] not found in axis"